<nav>
  
  <div class="blur">
    <nav class="top-menu">
      <ul class="menu-main">
        <li class="right-item"><a href="/marh">Маршруты</a></li>
        <li class="left-item"><a href="/info">О нас</a></li>
        <li class="left-item"><a href="/lk">Вход</a></li>
        <li class="right-item"><a href="/setuserdata">Контакты</a></li>
        <li class="right-item"><a href="/getdata">Пользователи</a></li>
      </ul>
      <a class="navbar-logo" href="/"><img src="/img/logo.png" width="155px" height="155px"></a>
    </nav>
  </div>
</nav>
