<div>{{> menu}}</div>

  <div class="txt">
    <img src="..//img/sad.png" class="sad_hills" width="420px" height="420px">
    <div class="fail">
      <p>Oopsss...</p>
      <p>404</p>
      <p>Not found</p>
    </div>
    <a href="/"><button>Назад на главную</button></a>
  </div>