<div>{{> menu}}</div>

<p class="info_forest">Маршрут на 3 дня в Архызе через перевал Айюлю.Перевал Айюлю - мой первый в жизни перевал. Я попал на него в 14 лет в школьном походе. И с удовольствием возвращаюсь сюда вновь и вновь :)
  Наш путь пролегает по красивым ущельям и горным хребтам Архыза. Мы пройдём по хвойным лесам, альпийским лугам и снежным полям. Нас ждет брод через горную реку, много тропёжки по снегу, перевал Айюлю, 
  красивые виды на высокогорные озера, гору Псыш и уютные
   костры в хорошей компании.Это будет настоящее приключение и хорошая подготовка летнему сезону.А, самое главное, найдём новых знакомых, привезём кучу впечатлений и воспоминаний!</p>
  <a href="/of"><button class="button_forest">Оформить</button></a>

  <div class="gall">
   <p class="gall_txt" >Галерея</p>
   <div class="img_forest">
<img src="../img/forest_1.png" class="forest_1">
<img src="../img/forest_2.png" class="forest_2">
<img src="../img/forest_3.png" class="forest_3">
  </div>
</div>