<div>{{> menu}}</div>
<h1>Данные из БД</h1>
<div>{{> interface_getdata}}</div>
<div class="Dobro">
    <img src="..//img/Sidit.png" class="sidit_hills" width="420px" height="420px">
    <div class="BS">
      <p>Добро пожаловать</p>
    </div>
    <a href="/"><button>Назад на главную</button></a>
  </div>
