<div>{{> menu}}</div>

<p class="kr_txt">Авторский тур Эльбрус Перезагрузка -8 дней активного треккинга в горах с проживанием в кемпинге на высоте 2500 м с элементами практик и медитаций.</p>
<p class="info_hills">Список снаряжения:<br>
  Кепка / панамка<br>
  Куртка. Температура воздуха рано утром и поздно вечером +10…+15С. Будем подниматься до уровня снега, температура около +5С.<br>
  Флисовка<br>
  Футболка<br>
  Легкая рубашка с длинным рукавом. Рубашка защитит от обгорания руки и шею.<br>
  Ходовые брюки<br>
  Нижнее белье<br>
  Носки<br>
  Треккинговая обувь или кроссовки с толстой подошвой<br>
  Шлепки (для ходьбы в кемпинге)<br>
  Купальник и полотенце (для термальных источников)<br>
  Для девушек по желанию: платье для фотосессии на фоне гор :))<br>
  Непромокаемая одежда или дождевик
  Трекинговые палки. Палки значительно снижают нагрузку на колени. Физически крепким и здоровым туристам мы рекомендуем иметь с собой палки. Туристам, у которых есть проблемы с коленями, суставами и лишним весом, трекинговые палки иметь ОБЯЗАТЕЛЬНО.<br>
  Паспорт / свидетельство о рождении ребенка. Обязательно иметь оригинал документов (не копию).<br>
  Фотоаппарат/видеокамера + зарядное<br>
  Расческа<br>
  Солнцезащитные очки<br>
  Пластиковая бутылка 0,5 л (для питьевой воды на маршруте)<br>
  Туалетная бумага (используется во время прогулок по ущельям)<br>
  Кружка, ложка для перекуса на маршруте.<br>
  Нитка, иголка<br>
  Рюкзак для прогулок (объем 20-25 литров). В рюкзаке находятся личные вещи туриста, а также общественные продукты на обед, которые выдает инструктор (вес продуктов 400-600 грамм).<br>
  Пенопопу :))<br>
  Солнцезащитный крем, гигиеническая помада<br>
  Индивидуальная аптечка. Обязательно: эластичный бинт, пластырь.<br>
  Налобный фонарик с батарейками<br>
  Шапка, перчатки (на случай холодных вечеров)</p>
  <a href="/of"><button class="button_hills">Оформить</button></a>

  <div class="gall">
   <p class="gall_txt" >Галерея</p>
   <div class="img_hills">
<img src="../img/hills_1.png" class="hills_1">
<img src="../img/hills_2.png" class="hills_2">
<img src="../img/hills_3.png" class="hills_3">
  </div>
</div>