<div>{{> menu}}</div>
<img src="../img/PaM.png" class="PaM">
<div class="inform">
<img src="../img/pay_com.png" class="pay_com">
<img src="../img/nag_com.png" class="nag_com">
<img src="../img/col_com.png" class="col_com">
</div>
<img src="../img/Chel_com.png" class="chel_com">
<footer class="footer">
  <ul class="menu">
    <li class="menuitem"><a class="menulink" href="#">Home</a></li>
    <li class="menuitem"><a class="menulink" href="#">About</a></li>
    <li class="menuitem"><a class="menulink" href="#">Services</a></li>
    <li class="menuitem"><a class="menulink" href="#">Team</a></li>
    <li class="menuitem"><a class="menulink" href="#">Contact</a></li>
  </ul>
  <p>2023</p>
</footer>