<div>{{> menu}}</div>
 <div class="form_lk">
    <img src="../img/Reg.png" class="reg_lk">
    
    <input required type="text" id="mail_lk" placeholder="Адрес электронной почты" class="mail_lk"><br><br><br><br>
    <input required type="password" id="password_lk" placeholder="Пароль" class="password_lk">
    <div class="rep_lk"><a href="/404"style="color: white">Забыли Пароль?</a></div> 
    <button>Отправить</button>
    <div class="registr_lk"><a href="/reg"style="color: white">Регистрация</a></div> 
 </div> 