<div>{{> menu}}</div>

  <div class="form">
    <input type="text" name="name" placeholder="Куда вы хотите?" class="name">
    <input  type="date" name="date" placeholder="Выберете дату" class="date">
    <button>Отправить</button>
  </div>


<div class="ad">
  <img src="/img/ad.png" >
  <p>Бронирование со скидкой до 99,9%</p>
  <a href="#"><button>Перейти</button></a>
</div>
<img src="/img/apps.png" class="apps">

<footer class="footer">
  <ul class="menu">
    <li class="menuitem"><a class="menulink" href="#">Home</a></li>
    <li class="menuitem"><a class="menulink" href="#">About</a></li>
    <li class="menuitem"><a class="menulink" href="#">Services</a></li>
    <li class="menuitem"><a class="menulink" href="#">Team</a></li>
    <li class="menuitem"><a class="menulink" href="#">Contact</a></li>
  </ul>
  <p>2023</p>
</footer>
