<div>{{> menu}}</div>

<div class="cont">
  <img src="/img/Camping.png" class="Camping" width="455px" height="555px">
  <a href="/hills"><img src="/img/Hills.png" class="Hills" width="455px" height="555px"></a>
  <img src="/img/Step.png" class="Step" width="455px" height="555px">
  <img src="/img/water.png" class="water" width="455px" height="555px">
  <img src="/img/Color.png" class="Color" width="455px" height="555px">
  <img src="/img/Fresh.png" class="Fresh" width="455px" height="555px">
  <a href="/forest"><img src="/img/Forest.png" class="Forest" width="455px" height="555px"></a>
  <img src="/img/Road.png" class="Road" width="455px" height="555px">  
</div>
<footer class="footer">
  <ul class="menu">
    <li class="menuitem"><a class="menulink" href="#">Home</a></li>
    <li class="menuitem"><a class="menulink" href="#">About</a></li>
    <li class="menuitem"><a class="menulink" href="#">Services</a></li>
    <li class="menuitem"><a class="menulink" href="#">Team</a></li>
    <li class="menuitem"><a class="menulink" href="#">Contact</a></li>
  </ul>
  <p>2023</p>
</footer>