<div>{{> menu}}</div>
 <div class="form_of">
    <img src="../img/Pay.png" class="Pay_of">
    <input required type="text" id="name_of" placeholder="Введите имя и фамилию" class="name_of"><br><br>
    <input required type="email" id="mail_of" placeholder="Адрес электронной почты" class="mail_of"><br><br>
    <input required type="password" id="password_of" placeholder="Пароль" class="password_of"><br><br>
    <button>Отправить</button>
    <div class="sogl_of"><p>Нажимая на кнопку,я даю “Согласие на обработку персональных данных”,ознакомлен и принимаю условия пользовательского соглашения.<span>(готов продать душу)</span></p></div> 
 </div> 