<div>{{> menu}}</div>
<div class="form_registr">
    <img src="../img/Reg.png" class="img_key_registr">
    <input required type="text" name="name_registr" placeholder="Введите имя и фамилию" class="name_registr"><br><br>
    <input required type="email" name="mail_registr" placeholder="Адрес электронной почты" class="mail_registr"><br><br>
    <input required type="password" name="password_registr" placeholder="Пароль" class="password_registr"><br><br>
    <input required type="password" name="password_r_registr" placeholder="Повторите пароль" class="password_r_registr">
    <button class="form_registr_but">Отправить</button>
    <div class="sogl_registr"><p>Нажимая на кнопку,я даю “Согласие на обработку персональных данных”,ознакомлен и принимаю условия пользовательского соглашения.<span>(готов продать душу)</span></p></div> 
 </div> 